* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #666;
}
a:hover {
  color: #329bdd;
}
u {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-appearance: none;
}
select,
input,
textarea {
  outline: none;
}
h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
body {
  font-family: "微软雅黑", "Microsoft Yahei";
  color: #666;
  font-size: 14px;
}
.container,
.wp {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
/*头部*/
#header {
  height: 120px;
  background: url(../images/topbg.png) no-repeat top center;
  line-height: 120px;
}
#header .logo img {
  vertical-align: middle;
}
#header #nav {
  width: 58%;
  display: flex;
  font-size: 16px;
}
#header #nav li {
  flex: 1;
}
/*手机头部*/
.m-bar {
  height: 60px;
}
.logo-m {
  width: 75%;
  display: inline-block;
  float: left;
  margin-left: 10px;
  height: 60px;
  line-height: 60px;
}
.logo-m img {
  height: 30px;
  display: inline-block;
  z-index: 60;
  vertical-align: middle;
}
.m-hd {
  display: none;
  background-color: #fff;
  position: fixed;
  z-index: 1400;
  top: 0;
  left: 0;
  width: 100%;
}
.m-nav {
  clear: both;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}
.m-nav a {
  display: block;
  width: 100%;
  line-height: 40px;
  text-align: left;
  border-top: 1px solid #e0e0e0;
  font-size: 15px;
  background-color: #fff;
  padding: 0 20px;
  color: #333;
}
.m-trigger {
  height: 60px;
  cursor: pointer;
  width: 60px;
  float: right;
  background: url(../images/menu.png) no-repeat center center #0d91e3;
  -webkit-background-size: 25px;
  -moz-background-size: 25px;
  -o-background-size: 25px;
  background-size: 25px;
}
.m-nav {
  display: none;
}
.m-sub {
  display: none;
}
.m-sub a {
  font-size: 14px;
  padding: 0 30px;
  background-color: #F1F1F1;
  border-top-color: #efefef;
}
.m-show {
  display: none;
}
/*底部*/
#footer {
  height: 80px;
  line-height: 80px;
  background-color: #222222;
}
.side {
  position: fixed;
  width: 92px;
  height: 188px;
  right: 0;
  top: 314px;
  z-index: 1000;
}
.side ul li {
  width: 92px;
  height: 92px;
  float: left;
  position: relative;
  margin-bottom: 2px;
  background-color: #329bdd;
}
.side ul li .sidebox {
  position: absolute;
  width: 92px;
  height: 92px;
  line-height: 92px;
  top: 0;
  right: 0;
  transition: all 0.3s;
  background: #329bdd;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
}
.side ul li .sidetop {
  width: 92px;
  height: 92px;
  line-height: 92px;
  display: inline-block;
  background: #329bdd;
  transition: all 0.3s;
}
.side ul li .sidetop:hover {
  background: #ae1c1c;
}
.side ul li img {
  float: left;
}
.side ul li span {
  background: url(../images/side_icon01.png) no-repeat center 17px;
  width: 92px;
  height: 92px;
  display: block;
  padding-top: 60px;
  float: right;
  color: #fff;
}
.side ul li.s1 span {
  background-image: url(../images/side_icon03.png);
  padding-top: 24px;
}
.side ul li.s1:hover span {
  background-image: url(../images/side_icon01.png);
  color: #535d68;
}
.side ul li.s2 span {
  background-image: url(../images/side_icon02.png);
}
.side ul li a {
  color: #fff;
  display: block;
  text-align: center;
  font-size: 14px;
}
#backtop {
  display: none;
  position: fixed;
  right: 0;
  top: 409px;
  z-index: 2000;
  width: 92px;
  height: 92px;
  background: #329bdd;
}
#backtop a {
  display: inline-block;
  background: url(../images/top.png) no-repeat center;
  width: 92px;
  height: 92px;
}
/*banner*/
#banner {
  overflow: hidden;
}
#banner * {
  outline: none;
}
#banner img {
  width: 100%;
}
#banner .slick-dots {
  position: absolute;
  left: 0;
  bottom: 36px;
  width: 100%;
  text-align: center;
}
#banner .slick-dots li {
  display: inline-block;
  font-size: 0;
  margin: 0 4px;
  background: url(../images/banner_disc.png) no-repeat;
  width: 21px;
  height: 21px;
}
#banner .slick-dots li button {
  display: none;
}
#banner .slick-dots li.slick-active {
  background-position: right 0;
}
#banner .slick-arrow {
  position: absolute;
  top: 50%;
  width: 52px;
  height: 52px;
  margin-top: -26px;
  background: url(../images/banner_prev.png) no-repeat;
  border: 0;
  font-size: 0;
  cursor: pointer;
  z-index: 999;
}
#banner .slick-prev {
  left: 10%;
}
#banner .slick-next {
  background-image: url(../images/banner_next.png);
  right: 10%;
}
#banner .slick-prev:hover {
  background-image: url(../images/banner_prev_h.png);
}
#banner .slick-next:hover {
  background-image: url(../images/banner_next_h.png);
}
#entry {
  padding: 30px 0;
}
#entry .container {
  display: flex;
}
#entry .container .entryLi {
  padding-right: 30px;
  flex: 1;
}
#entry .container .oh {
  width: 45%;
}
#entry .container .pic {
  float: left;
  margin-right: 30px;
}
#entry .container .pic img {
  transition: all linear .2s;
}
#entry .container .pic img:hover {
  transform: rotateY(-180deg);
}
#entry .container h3 {
  margin-top: 15px;
  font-size: 18px;
  color: #221f20;
}
#entry .container h4 {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #a1a1a1;
}
#entry .container p {
  font-size: 12px;
  color: #a1a1a1;
  line-height: 26px;
}
/*首页*/
#idxAbout {
  background-color: #f5f5f5;
  padding: 50px 0;
  overflow: hidden;
  font-size: 14px;
  color: #222222;
}
#idxAbout .txt {
  padding: 72px 38px 0 38px;
}
#idxAbout p {
  line-height: 30px;
}
.title {
  text-align: center;
}
.title h3 {
  font-weight: normal;
  color: #222222;
  font-size: 24px;
  line-height: 36px;
}
.title p {
  font-size: 16px;
  color: #999999;
  line-height: 32px;
}
.title .line {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 2px;
  background-color: #47b5e8;
}
.title2 {
  font-size: 16px;
  border-left: 2px solid #58c0eb;
  text-indent: 1em;
}
#idxResearch {
  padding: 30px 0;
}
#idxResearch ul {
  display: flex;
  text-align: center;
}
#idxResearch li {
  justify-content: space-between;
  flex: 270px;
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;
}
#idxResearch li:hover .mask {
  transition: all linear .2s;
  top: 0;
  font-size: 20px;
}
#idxResearch .num {
  color: #999999;
  font-size: 24px;
  width: 59px;
  height: 48px;
  line-height: 48px;
  margin: 20px auto;
  background: url(../images/numbg.png) no-repeat center;
}
#idxResearch h3 {
  font-weight: normal;
  color: #5a5a5a;
  line-height: 36px;
}
#idxResearch p {
  color: #999999;
}
#idxResearch .mask {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 99%;
  bottom: 0;
  background: rgba(71, 181, 232, 0.7);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
}
#idxPro {
  background: url(../images/bg2.png) center;
  padding: 30px 0;
}
#idxPro .title h3,
#idxPro .title p {
  color: #ffffff;
}
#idxPro .title .line {
  background-color: #ffffff;
}
#idxPro ul {
  display: flex;
  text-align: center;
}
#idxPro li {
  flex: 1;
  justify-content: space-between;
  overflow: hidden;
}
#idxPro li:hover img {
  transition: all linear .2s;
  transform: scale(1.1);
}
#idxPro li .img {
  margin: 0 auto 20px auto;
  width: 280px;
  height: 210px;
  overflow: hidden;
}
#idxPro li .img img {
  width: 100%;
}
#idxPro h3 {
  font-weight: normal;
  line-height: 36px;
  color: #222222;
}
#idxPro .idxProIn {
  padding: 30px 0;
  display: block;
  background-color: #ffffff;
  width: 350px;
  margin: 0 auto;
}
#proMore {
  display: block;
  text-align: center;
  width: 300px;
  margin: 30px auto 0 auto;
}
#proMore:hover {
  cursor: pointer;
}
#location {
  background-color: #f5f5f5;
  color: #a1a1a1;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
#location a {
  color: #a1a1a1;
}
#main {
  overflow: hidden;
  padding: 30px 0;
}
.leftPart ul {
  border: 1px solid #f5f5f5;
  text-align: center;
}
.leftPart li {
  height: 40px;
  line-height: 40px;
}
.leftPart a {
  display: block;
  color: #222222;
}
.leftPart a:hover {
  color: #0d91e3;
}
#productList {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
#productList li {
  flex: 0 0 25%;
  justify-content: space-between;
  overflow: hidden;
}
#productList li a {
  margin-bottom: 20px;
  display: block;
  padding: 0 10px 10px 10px;
}
#productList li:hover img {
  transition: all linear .2s;
  transform: scale(1.1);
}
#productList li .img {
  margin: 0 auto 10px auto;
  width: 100%;
  height: 163px;
  overflow: hidden;
}
#productList li .img img {
  width: 100%;
}
#productList h3 {
  font-weight: normal;
  line-height: 30px;
  color: #222222;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#productList p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.work_list .work_list_tit,
.work_list h6,
.work_list li span {
  text-align: center;
}
.work_list .work_list_tit {
  background-color: #999999;
  color: #ffffff;
}
.work_list li {
  border-bottom: 1px solid #d4d4d4;
}
.work_list li span {
  display: inline-block;
  width: 19%;
  line-height: 40px;
}
.work_list_cont {
  display: none;
  border-top: 1px solid #d4d4d4;
  padding: 30px 0;
}
.work_list_cont h5 {
  border-left: 2px solid #58c0eb;
  text-indent: 1em;
}
.work_list_cont p {
  padding-left: 1em;
}
.work_list_cont .view {
  width: 100%;
}
.view_af,
.view_bf {
  width: 80px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
}
.view_af p,
.view_bf p {
  background-color: #58c0eb;
  color: #ffffff;
}
.view_af {
  display: none;
}
.view_af p {
  background-color: #f69f47;
}
.view_af a {
  color: #ffffff;
}
.resume {
  background-color: #d4d4d4;
  border: 2px solid #d4d4d4;
  margin-top: 20px;
  height: 56px;
}
.resume .title2 {
  line-height: 52px;
  color: #666666;
  background-color: #ffffff;
  padding-left: 30px;
  background: linear-gradient(307deg, transparent 83%, white 20px);
}
.resume span {
  line-height: 40px;
  border-left: 2px solid #ffffff;
  padding-left: 15px;
  margin-left: 80px;
  color: #ffffff;
}
.resume span a {
  color: #ffffff;
}
.resume span a:hover {
  text-decoration: underline;
}
.shadow {
  background: url(../images/box-shadow.png) -6px 318px no-repeat;
}
.about_box .fl img {
  padding: 5px;
  border: 1px solid #f0f0f0;
  margin-bottom: 3%;
}
.red {
  background-color: #c70202;
  margin: 8px 0;
}
.tabname {
  background-color: #cccccc;
  padding: 10px 30px 20px 30px;
  color: #fff;
}
.tabname li {
  float: left;
  margin-right: 45px;
  cursor: pointer;
}
.tabname li h5 {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 3px solid #f7f7f7;
}
.tabname li.on h5,
.tabname li:hover h5 {
  border-bottom: 3px solid #fba246;
}
.tabcont .list table {
  width: 100%;
}
.tabcont .list table td,
.tabcont .list table tr {
  border: 1px solid #d0d0d0;
  padding: 1em 2em;
}
.parg {
  line-height: 26px;
}
